In [32]:
import pandas as pd
from sqlalchemy import create_engine
import scipy.stats as sts
import numpy as np
from datetime import datetime

In [33]:
#read csv file - country_vaccinations.csv
csv_file = "../Resources/country_vaccinations.csv"
world_vac_df = pd.read_csv(csv_file)

In [34]:
#list vaccines provider
world_vac_df["vaccines"].value_counts()

Pfizer/BioNTech                          918
Moderna, Pfizer/BioNTech                 452
Oxford/AstraZeneca, Pfizer/BioNTech      236
Pfizer/BioNTech, Sinopharm                69
Sputnik V                                 67
CNBG, Sinovac                             48
Sinovac                                   40
Oxford/AstraZeneca, Sinopharm             26
Pfizer/BioNTech, Sinopharm, Sputnik V     23
Covaxin, Oxford/AstraZeneca               18
Oxford/AstraZeneca, Sinovac               17
Pfizer/BioNTech, Sinovac                   9
Oxford/AstraZeneca                         6
Name: vaccines, dtype: int64

In [35]:
#extract data: relevant columns - country,iso_code, date, daily_vaccinations, vaccines,source_name
world_vac_df = world_vac_df[["country", "date", "daily_vaccinations",
                       "vaccines","source_name"]]
#rename the column
world_vac_df = world_vac_df.rename(columns = {'country': 'Country','date':'Date'})
world_vac_df

,Country,Date,daily_vaccinations,vaccines,source_name
0,Algeria,2021-01-29,NaN,Sputnik V,Ministry of Health
1,Algeria,2021-01-30,30.0,Sputnik V,Ministry of Health
2,Argentina,2020-12-29,NaN,Sputnik V,Ministry of Health
3,Argentina,2020-12-30,15656.0,Sputnik V,Ministry of Health
4,Argentina,2020-12-31,15656.0,Sputnik V,Ministry of Health
...,...,...,...,...,...
1924,Wales,2021-01-27,20845.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1925,Wales,2021-01-28,21463.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1926,Wales,2021-01-29,19705.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1927,Wales,2021-01-30,19885.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1928,Wales,2021-01-31,20824.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom

In [50]:
#vaccine provider tables
Pfizer_df = world_vac_df.loc[world_vac_df["vaccines"] == "Pfizer/BioNTech"]
Pfizer_df = Pfizer_df[["Country", "Date","vaccines",]]

Moderna_df = world_vac_df.loc[world_vac_df["vaccines"] == "Moderna, Pfizer/BioNTech"]
Moderna_df = Moderna_df[["Country", "Date","vaccines",]]

Vaccitech_df = world_vac_df.loc[world_vac_df["vaccines"] == "Oxford/AstraZeneca, Pfizer/BioNTech"]
Vaccitech_df  = Vaccitech_df[["Country", "Date", "vaccines",]]

Sinopharm_df = world_vac_df.loc[world_vac_df["vaccines"] == "Pfizer/BioNTech, Sinopharm"]
Sinopharm_df = Sinopharm_df[["Country", "Date","vaccines",]]

Sputnik_V_df = world_vac_df.loc[world_vac_df["vaccines"] == "Sputnik V"]
Sputnik_V_df = Sputnik_V_df[["Country", "Date","vaccines",]]

CNBG_df = world_vac_df.loc[world_vac_df["vaccines"] == "CNBG, Sinovac"]
CNBG_df = CNBG_df[["Country", "Date","vaccines",]]

Sinova_df = world_vac_df.loc[world_vac_df["vaccines"] == "Sinovac"]
Sinova_df = Sinova_df[["Country", "Date","vaccines",]]

Ox_S_df = world_vac_df.loc[world_vac_df["vaccines"] == "Oxford/AstraZeneca, Sinopharm"]
Ox_S_df = Ox_S_df[["Country", "Date","vaccines",]]

tri_df = world_vac_df.loc[world_vac_df["vaccines"] == "Pfizer/BioNTech, Sinopharm, Sputnik V"]
tri_df = tri_df[["Country", "Date","vaccines",]]

Covaxin_df = world_vac_df.loc[world_vac_df["vaccines"] == "Covaxin, Oxford/AstraZeneca"]
Covaxin_df = Covaxin_df[["Country", "Date","vaccines",]]

O_S_df = world_vac_df.loc[world_vac_df["vaccines"] == "Oxford/AstraZeneca, Sinovac"]
O_S_df = O_S_df[["Country", "Date","vaccines",]]

P_S_df = world_vac_df.loc[world_vac_df["vaccines"] == "Pfizer/BioNTech, Sinovac"]
P_S_df = P_S_df[["Country", "Date","vaccines",]]

Oxford_df = world_vac_df.loc[world_vac_df["vaccines"] == "Oxford/AstraZeneca"]
Oxford_df = Oxford_df[["Country", "Date","vaccines",]]

In [51]:
Pfizer_df

      Country        Date         vaccines
37    Austria  2021-01-10  Pfizer/BioNTech
38    Austria  2021-01-11  Pfizer/BioNTech
39    Austria  2021-01-12  Pfizer/BioNTech
40    Austria  2021-01-13  Pfizer/BioNTech
41    Austria  2021-01-14  Pfizer/BioNTech
...       ...         ...              ...
1701   Sweden  2021-01-25  Pfizer/BioNTech
1702   Sweden  2021-01-26  Pfizer/BioNTech
1703   Sweden  2021-01-27  Pfizer/BioNTech
1704   Sweden  2021-01-28  Pfizer/BioNTech
1705   Sweden  2021-01-29  Pfizer/BioNTech

[918 rows x 3 columns]

In [52]:
Moderna_df

            Country        Date                  vaccines
101         Belgium  2020-12-28  Moderna, Pfizer/BioNTech
102         Belgium  2020-12-29  Moderna, Pfizer/BioNTech
103         Belgium  2020-12-30  Moderna, Pfizer/BioNTech
104         Belgium  2020-12-31  Moderna, Pfizer/BioNTech
105         Belgium  2021-01-01  Moderna, Pfizer/BioNTech
...             ...         ...                       ...
1874  United States  2021-01-28  Moderna, Pfizer/BioNTech
1875  United States  2021-01-29  Moderna, Pfizer/BioNTech
1876  United States  2021-01-30  Moderna, Pfizer/BioNTech
1877  United States  2021-01-31  Moderna, Pfizer/BioNTech
1878  United States  2021-02-01  Moderna, Pfizer/BioNTech

[452 rows x 3 columns]

In [53]:
Vaccitech_df

      Country        Date                             vaccines
485   England  2020-12-20  Oxford/AstraZeneca, Pfizer/BioNTech
486   England  2020-12-21  Oxford/AstraZeneca, Pfizer/BioNTech
487   England  2020-12-22  Oxford/AstraZeneca, Pfizer/BioNTech
488   England  2020-12-23  Oxford/AstraZeneca, Pfizer/BioNTech
489   England  2020-12-24  Oxford/AstraZeneca, Pfizer/BioNTech
...       ...         ...                                  ...
1924    Wales  2021-01-27  Oxford/AstraZeneca, Pfizer/BioNTech
1925    Wales  2021-01-28  Oxford/AstraZeneca, Pfizer/BioNTech
1926    Wales  2021-01-29  Oxford/AstraZeneca, Pfizer/BioNTech
1927    Wales  2021-01-30  Oxford/AstraZeneca, Pfizer/BioNTech
1928    Wales  2021-01-31  Oxford/AstraZeneca, Pfizer/BioNTech

[236 rows x 3 columns]

In [54]:
Sinopharm_df

                   Country        Date                    vaccines
60                 Bahrain  2020-12-23  Pfizer/BioNTech, Sinopharm
61                 Bahrain  2020-12-24  Pfizer/BioNTech, Sinopharm
62                 Bahrain  2020-12-25  Pfizer/BioNTech, Sinopharm
63                 Bahrain  2020-12-26  Pfizer/BioNTech, Sinopharm
64                 Bahrain  2020-12-27  Pfizer/BioNTech, Sinopharm
...                    ...         ...                         ...
1787  United Arab Emirates  2021-01-28  Pfizer/BioNTech, Sinopharm
1788  United Arab Emirates  2021-01-29  Pfizer/BioNTech, Sinopharm
1789  United Arab Emirates  2021-01-30  Pfizer/BioNTech, Sinopharm
1790  United Arab Emirates  2021-01-31  Pfizer/BioNTech, Sinopharm
1791  United Arab Emirates  2021-02-01  Pfizer/BioNTech, Sinopharm

[69 rows x 3 columns]

In [55]:
Sputnik_V_df

        Country        Date   vaccines
0       Algeria  2021-01-29  Sputnik V
1       Algeria  2021-01-30  Sputnik V
2     Argentina  2020-12-29  Sputnik V
3     Argentina  2020-12-30  Sputnik V
4     Argentina  2020-12-31  Sputnik V
...         ...         ...        ...
1436     Russia  2021-01-09  Sputnik V
1437     Russia  2021-01-10  Sputnik V
1438     Russia  2021-01-11  Sputnik V
1439     Russia  2021-01-12  Sputnik V
1440     Russia  2021-01-13  Sputnik V

[67 rows x 3 columns]

In [56]:
CNBG_df

    Country        Date       vaccines
265   China  2020-12-15  CNBG, Sinovac
266   China  2020-12-16  CNBG, Sinovac
267   China  2020-12-17  CNBG, Sinovac
268   China  2020-12-18  CNBG, Sinovac
269   China  2020-12-19  CNBG, Sinovac
270   China  2020-12-20  CNBG, Sinovac
271   China  2020-12-21  CNBG, Sinovac
272   China  2020-12-22  CNBG, Sinovac
273   China  2020-12-23  CNBG, Sinovac
274   China  2020-12-24  CNBG, Sinovac
275   China  2020-12-25  CNBG, Sinovac
276   China  2020-12-26  CNBG, Sinovac
277   China  2020-12-27  CNBG, Sinovac
278   China  2020-12-28  CNBG, Sinovac
279   China  2020-12-29  CNBG, Sinovac
280   China  2020-12-30  CNBG, Sinovac
281   China  2020-12-31  CNBG, Sinovac
282   China  2021-01-01  CNBG, Sinovac
283   China  2021-01-02  CNBG, Sinovac
284   China  2021-01-03  CNBG, Sinovac
285   China  2021-01-04  CNBG, Sinovac
286   China  2021-01-05  CNBG, Sinovac
287   China  2021-01-06  CNBG, Sinovac
288   China  2021-01-07  CNBG, Sinovac
289   China  2021-01-08  CNBG, Sinovac
290   China  2021-01-09  CNBG, Sinovac
291   China  2021-01-10  CNBG, Sinovac
292   China  2021-01-11  CNBG, Sinovac
293   China  2021-01-12  CNBG, Sinovac
294   China  2021-01-13  CNBG, Sinovac
295   China  2021-01-14  CNBG, Sinovac
296   China  2021-01-15  CNBG, Sinovac
297   China  2021-01-16  CNBG, Sinovac
298   China  2021-01-17  CNBG, Sinovac
299   China  2021-01-18  CNBG, Sinovac
300   China  2021-01-19  CNBG, Sinovac
301   China  2021-01-20  CNBG, Sinovac
302   China  2021-01-21  CNBG, Sinovac
303   China  2021-01-22  CNBG, Sinovac
304   China  2021-01-23  CNBG, Sinovac
305   China  2021-01-24  CNBG, Sinovac
306   China  2021-01-25  CNBG, Sinovac
307   China  2021-01-26  CNBG, Sinovac
308   China  2021-01-27  CNBG, Sinovac
309   China  2021-01-28  CNBG, Sinovac
310   China  2021-01-29  CNBG, Sinovac
311   China  2021-01-30  CNBG, Sinovac
312   China  2021-01-31  CNBG, Sinovac

In [57]:
Sinova_df

        Country        Date vaccines
810   Indonesia  2021-01-12  Sinovac
811   Indonesia  2021-01-13  Sinovac
812   Indonesia  2021-01-14  Sinovac
813   Indonesia  2021-01-15  Sinovac
814   Indonesia  2021-01-16  Sinovac
815   Indonesia  2021-01-17  Sinovac
816   Indonesia  2021-01-18  Sinovac
817   Indonesia  2021-01-19  Sinovac
818   Indonesia  2021-01-20  Sinovac
819   Indonesia  2021-01-21  Sinovac
820   Indonesia  2021-01-22  Sinovac
821   Indonesia  2021-01-23  Sinovac
822   Indonesia  2021-01-24  Sinovac
823   Indonesia  2021-01-25  Sinovac
824   Indonesia  2021-01-26  Sinovac
825   Indonesia  2021-01-27  Sinovac
826   Indonesia  2021-01-28  Sinovac
827   Indonesia  2021-01-29  Sinovac
828   Indonesia  2021-01-30  Sinovac
829   Indonesia  2021-01-31  Sinovac
1744     Turkey  2021-01-13  Sinovac
1745     Turkey  2021-01-14  Sinovac
1746     Turkey  2021-01-15  Sinovac
1747     Turkey  2021-01-16  Sinovac
1748     Turkey  2021-01-17  Sinovac
1749     Turkey  2021-01-18  Sinovac
1750     Turkey  2021-01-19  Sinovac
1751     Turkey  2021-01-20  Sinovac
1752     Turkey  2021-01-21  Sinovac
1753     Turkey  2021-01-22  Sinovac
1754     Turkey  2021-01-23  Sinovac
1755     Turkey  2021-01-24  Sinovac
1756     Turkey  2021-01-25  Sinovac
1757     Turkey  2021-01-26  Sinovac
1758     Turkey  2021-01-27  Sinovac
1759     Turkey  2021-01-28  Sinovac
1760     Turkey  2021-01-29  Sinovac
1761     Turkey  2021-01-30  Sinovac
1762     Turkey  2021-01-31  Sinovac
1763     Turkey  2021-02-01  Sinovac

In [58]:
Ox_S_df

         Country        Date                       vaccines
1137     Morocco  2021-01-28  Oxford/AstraZeneca, Sinopharm
1138     Morocco  2021-01-29  Oxford/AstraZeneca, Sinopharm
1139     Morocco  2021-01-30  Oxford/AstraZeneca, Sinopharm
1140     Morocco  2021-01-31  Oxford/AstraZeneca, Sinopharm
1141     Morocco  2021-02-01  Oxford/AstraZeneca, Sinopharm
1541  Seychelles  2021-01-09  Oxford/AstraZeneca, Sinopharm
1542  Seychelles  2021-01-10  Oxford/AstraZeneca, Sinopharm
1543  Seychelles  2021-01-11  Oxford/AstraZeneca, Sinopharm
1544  Seychelles  2021-01-12  Oxford/AstraZeneca, Sinopharm
1545  Seychelles  2021-01-13  Oxford/AstraZeneca, Sinopharm
1546  Seychelles  2021-01-14  Oxford/AstraZeneca, Sinopharm
1547  Seychelles  2021-01-15  Oxford/AstraZeneca, Sinopharm
1548  Seychelles  2021-01-16  Oxford/AstraZeneca, Sinopharm
1549  Seychelles  2021-01-17  Oxford/AstraZeneca, Sinopharm
1550  Seychelles  2021-01-18  Oxford/AstraZeneca, Sinopharm
1551  Seychelles  2021-01-19  Oxford/AstraZeneca, Sinopharm
1552  Seychelles  2021-01-20  Oxford/AstraZeneca, Sinopharm
1553  Seychelles  2021-01-21  Oxford/AstraZeneca, Sinopharm
1554  Seychelles  2021-01-22  Oxford/AstraZeneca, Sinopharm
1555  Seychelles  2021-01-23  Oxford/AstraZeneca, Sinopharm
1556  Seychelles  2021-01-24  Oxford/AstraZeneca, Sinopharm
1557  Seychelles  2021-01-25  Oxford/AstraZeneca, Sinopharm
1558  Seychelles  2021-01-26  Oxford/AstraZeneca, Sinopharm
1559  Seychelles  2021-01-27  Oxford/AstraZeneca, Sinopharm
1560  Seychelles  2021-01-28  Oxford/AstraZeneca, Sinopharm
1561  Seychelles  2021-01-29  Oxford/AstraZeneca, Sinopharm

In [59]:
tri_df

     Country        Date                               vaccines
1518  Serbia  2021-01-08  Pfizer/BioNTech, Sinopharm, Sputnik V
1519  Serbia  2021-01-09  Pfizer/BioNTech, Sinopharm, Sputnik V
1520  Serbia  2021-01-10  Pfizer/BioNTech, Sinopharm, Sputnik V
1521  Serbia  2021-01-11  Pfizer/BioNTech, Sinopharm, Sputnik V
1522  Serbia  2021-01-12  Pfizer/BioNTech, Sinopharm, Sputnik V
1523  Serbia  2021-01-13  Pfizer/BioNTech, Sinopharm, Sputnik V
1524  Serbia  2021-01-14  Pfizer/BioNTech, Sinopharm, Sputnik V
1525  Serbia  2021-01-15  Pfizer/BioNTech, Sinopharm, Sputnik V
1526  Serbia  2021-01-16  Pfizer/BioNTech, Sinopharm, Sputnik V
1527  Serbia  2021-01-17  Pfizer/BioNTech, Sinopharm, Sputnik V
1528  Serbia  2021-01-18  Pfizer/BioNTech, Sinopharm, Sputnik V
1529  Serbia  2021-01-19  Pfizer/BioNTech, Sinopharm, Sputnik V
1530  Serbia  2021-01-20  Pfizer/BioNTech, Sinopharm, Sputnik V
1531  Serbia  2021-01-21  Pfizer/BioNTech, Sinopharm, Sputnik V
1532  Serbia  2021-01-22  Pfizer/BioNTech, Sinopharm, Sputnik V
1533  Serbia  2021-01-23  Pfizer/BioNTech, Sinopharm, Sputnik V
1534  Serbia  2021-01-24  Pfizer/BioNTech, Sinopharm, Sputnik V
1535  Serbia  2021-01-25  Pfizer/BioNTech, Sinopharm, Sputnik V
1536  Serbia  2021-01-26  Pfizer/BioNTech, Sinopharm, Sputnik V
1537  Serbia  2021-01-27  Pfizer/BioNTech, Sinopharm, Sputnik V
1538  Serbia  2021-01-28  Pfizer/BioNTech, Sinopharm, Sputnik V
1539  Serbia  2021-01-29  Pfizer/BioNTech, Sinopharm, Sputnik V
1540  Serbia  2021-01-30  Pfizer/BioNTech, Sinopharm, Sputnik V

In [60]:
Covaxin_df

    Country        Date                     vaccines
792   India  2021-01-15  Covaxin, Oxford/AstraZeneca
793   India  2021-01-16  Covaxin, Oxford/AstraZeneca
794   India  2021-01-17  Covaxin, Oxford/AstraZeneca
795   India  2021-01-18  Covaxin, Oxford/AstraZeneca
796   India  2021-01-19  Covaxin, Oxford/AstraZeneca
797   India  2021-01-20  Covaxin, Oxford/AstraZeneca
798   India  2021-01-21  Covaxin, Oxford/AstraZeneca
799   India  2021-01-22  Covaxin, Oxford/AstraZeneca
800   India  2021-01-23  Covaxin, Oxford/AstraZeneca
801   India  2021-01-24  Covaxin, Oxford/AstraZeneca
802   India  2021-01-25  Covaxin, Oxford/AstraZeneca
803   India  2021-01-26  Covaxin, Oxford/AstraZeneca
804   India  2021-01-27  Covaxin, Oxford/AstraZeneca
805   India  2021-01-28  Covaxin, Oxford/AstraZeneca
806   India  2021-01-29  Covaxin, Oxford/AstraZeneca
807   India  2021-01-30  Covaxin, Oxford/AstraZeneca
808   India  2021-01-31  Covaxin, Oxford/AstraZeneca
809   India  2021-02-01  Covaxin, Oxford/AstraZeneca

In [63]:
O_S_df

    Country        Date                     vaccines
150  Brazil  2021-01-16  Oxford/AstraZeneca, Sinovac
151  Brazil  2021-01-17  Oxford/AstraZeneca, Sinovac
152  Brazil  2021-01-18  Oxford/AstraZeneca, Sinovac
153  Brazil  2021-01-19  Oxford/AstraZeneca, Sinovac
154  Brazil  2021-01-20  Oxford/AstraZeneca, Sinovac
155  Brazil  2021-01-21  Oxford/AstraZeneca, Sinovac
156  Brazil  2021-01-22  Oxford/AstraZeneca, Sinovac
157  Brazil  2021-01-23  Oxford/AstraZeneca, Sinovac
158  Brazil  2021-01-24  Oxford/AstraZeneca, Sinovac
159  Brazil  2021-01-25  Oxford/AstraZeneca, Sinovac
160  Brazil  2021-01-26  Oxford/AstraZeneca, Sinovac
161  Brazil  2021-01-27  Oxford/AstraZeneca, Sinovac
162  Brazil  2021-01-28  Oxford/AstraZeneca, Sinovac
163  Brazil  2021-01-29  Oxford/AstraZeneca, Sinovac
164  Brazil  2021-01-30  Oxford/AstraZeneca, Sinovac
165  Brazil  2021-01-31  Oxford/AstraZeneca, Sinovac
166  Brazil  2021-02-01  Oxford/AstraZeneca, Sinovac

In [62]:
P_S_df

              Country        Date                  vaccines
1171  Northern Cyprus  2021-01-14  Pfizer/BioNTech, Sinovac
1172  Northern Cyprus  2021-01-15  Pfizer/BioNTech, Sinovac
1173  Northern Cyprus  2021-01-16  Pfizer/BioNTech, Sinovac
1174  Northern Cyprus  2021-01-17  Pfizer/BioNTech, Sinovac
1175  Northern Cyprus  2021-01-18  Pfizer/BioNTech, Sinovac
1176  Northern Cyprus  2021-01-19  Pfizer/BioNTech, Sinovac
1177  Northern Cyprus  2021-01-20  Pfizer/BioNTech, Sinovac
1178  Northern Cyprus  2021-01-21  Pfizer/BioNTech, Sinovac
1179  Northern Cyprus  2021-01-22  Pfizer/BioNTech, Sinovac

In [64]:
Oxford_df

        Country        Date            vaccines
1142    Myanmar  2021-01-26  Oxford/AstraZeneca
1143    Myanmar  2021-01-27  Oxford/AstraZeneca
1668  Sri Lanka  2021-01-28  Oxford/AstraZeneca
1669  Sri Lanka  2021-01-29  Oxford/AstraZeneca
1670  Sri Lanka  2021-01-30  Oxford/AstraZeneca
1671  Sri Lanka  2021-01-31  Oxford/AstraZeneca

In [14]:
#vaccine by date
world_vac_df = world_vac_df.groupby('Date')

world_vac_df.head(20)

,Country,Date,daily_vaccinations,vaccines,source_name
0,Algeria,2021-01-29,NaN,Sputnik V,Ministry of Health
1,Algeria,2021-01-30,30.0,Sputnik V,Ministry of Health
2,Argentina,2020-12-29,NaN,Sputnik V,Ministry of Health
3,Argentina,2020-12-30,15656.0,Sputnik V,Ministry of Health
4,Argentina,2020-12-31,15656.0,Sputnik V,Ministry of Health
...,...,...,...,...,...
1888,Wales,2020-12-22,2076.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1889,Wales,2020-12-23,2014.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1890,Wales,2020-12-24,1953.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1891,Wales,2020-12-25,1891.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1892,Wales,2020-12-26,1830.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom

In [27]:
#read impact on airport traffic csv file
csv_file = "../Resources/covid_impact_on_airport_traffic.csv"
airport_traffic_df = pd.read_csv(csv_file)

In [28]:
#extract data: relevant columns - Date,Country,State,City, AirportName,PercentOfBaseline
airport_traffic_df = airport_traffic_df[["Date","Country","State","City","AirportName","PercentOfBaseline"]]
airport_traffic_df

##Clean up
 #Date format
airport_traffic_df['Date'] = airport_traffic_df['Date'].str.replace('/','-')
airport_traffic_df['Date'] = pd.to_datetime(airport_traffic_df.Date)
airport_traffic_df['Date'] = airport_traffic_df['Date'].dt.strftime('%Y-%m-%d')

 #Change countries to make it consistant across mutiple csv files
airport_traffic_df['Country'] = airport_traffic_df['Country'].replace('United States of America (the)', 'United States')

#group by date to make it easier to merge with other df and better mathching information

airport_traffic_df.tail()

,Date,Country,State,City,AirportName,PercentOfBaseline
7242,2020-06-05,United States,Washington,SeaTac,Seattle-Tacoma International,80
7243,2020-10-03,United States,Washington,SeaTac,Seattle-Tacoma International,55
7244,2020-07-16,United States,Washington,SeaTac,Seattle-Tacoma International,76
7245,2020-07-31,United States,Washington,SeaTac,Seattle-Tacoma International,69
7246,2020-08-30,United States,Washington,SeaTac,Seattle-Tacoma International,68

In [17]:
baseline_stats = airport_traffic_df.describe()
baseline_stats

       PercentOfBaseline
count        7247.000000
mean           66.651442
std            22.134433
min             0.000000
25%            53.000000
50%            67.000000
75%            84.000000
max           100.000000

In [18]:
#airport country locations
airport_traffic_df['Country'].value_counts()

United States    4441
Canada           2311
Australia         257
Chile             238
Name: Country, dtype: int64

In [19]:
#airport names
airport_traffic_df['AirportName'].value_counts()

Los Angeles International                    262
John F. Kennedy International                262
Hartsfield-Jackson Atlanta International     262
Montreal Trudeau                             262
Dallas/Fort Worth International              262
Chicago OHare International                  261
Toronto Pearson                              261
San Francisco International                  261
Daniel K. Inouye International               261
Charlotte Douglas International              261
Washington Dulles International              261
Calgary International                        261
Seattle-Tacoma International                 261
LaGuardia                                    261
McCarran International                       261
Detroit Metropolitan Wayne County            261
Miami International                          261
Boston Logan International                   261
Vancouver International                      261
Denver International                         261
Winnipeg International                       261
Newark Liberty International                 261
Hamilton International                       260
Montreal Mirabel                             257
Kingsford Smith                              257
Halifax International                        252
Santiago International Airport               238
Edmonton International                       236
Name: AirportName, dtype: int64

In [25]:
#read csv file
csv_file = "../Resources/covid_19_clean_complete.csv"
covid_case_df = pd.read_csv(csv_file)

#extract data: relevant columns - Country/Region,Date,Confirmed,WHO Region
covid_case_df = covid_case_df[["Country/Region","Date","Confirmed","WHO Region"]]
covid_case_df.sample(30)

    #rename column:Country/Region to Country
covid_case_df = covid_case_df.rename(columns = {'Country/Region': 'Country'})

#Group by Date
# covid_case_df = covid_case_df.groupby('Date')
covid_case_df.tail(10)

                     Country        Date  Confirmed             WHO Region
49058                 Malawi  2020-07-27       3664                 Africa
49059         United Kingdom  2020-07-27         13                 Europe
49060                 France  2020-07-27          4                 Europe
49061            South Sudan  2020-07-27       2305                 Africa
49062         Western Sahara  2020-07-27         10                 Africa
49063  Sao Tome and Principe  2020-07-27        865                 Africa
49064                  Yemen  2020-07-27       1691  Eastern Mediterranean
49065                Comoros  2020-07-27        354                 Africa
49066             Tajikistan  2020-07-27       7235                 Europe
49067                Lesotho  2020-07-27        505                 Africa

In [21]:
connection_string = "postgres:Logan5811@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection_string}')

In [22]:
 # Confirm tables
engine.table_names()

['covid', 'airport']

In [24]:
airport_traffic_df.to_sql(name='airport', con=engine, if_exists='append', index=False)

In [26]:
covid_case_df.to_sql(name='covid', con=engine, if_exists='append', index=False)