In [47]:
import pandas as pd
from sqlalchemy import create_engine
import scipy.stats as sts
import numpy as np
import datetime

In [33]:
# clean df with relevant columns - country,iso_code, date, daily_vaccinations, vaccines,source_name

In [34]:
csv_file = '../Resources/country_vaccinations.csv'
world_vac_df = pd.read_csv(csv_file)

In [71]:
world_vac_df = world_vac_df[['country', 'iso_code', 'date', 'daily_vaccinations',
                       'vaccines', 'source_name']]
world_vac_df.sample(50)
#group by countires
#count vaccines provider, source_name
#changes in daily vaccines
#country sum each month

#Date,Country,State,City, AirportName,PercentOfBaseline
csv_file = '../Resources/covid_impact_on_airport_traffic.csv'
airport_traffic_df = pd.read_csv(csv_file)
airport_traffic_df = airport_traffic_df[['Date','Country','State','City','AirportName','PercentOfBaseline']]

In [56]:
csv_file = '../Resources/covid_19_clean_complete.csv'
covid_case_df = pd.read_csv(csv_file)
covid_case_df = covid_case_df[['Country/Region','Date','Confirmed','WHO Region']]
covid_case_df = covid_case_df.rename(columns={'Country/Region': 'Country'})
covid_case_df.sample(30)
##Cleanup
    #Reduce to only relevant columns
    #change the column:Country/Region to Country
#changes each day for countries

,Country,Date,Confirmed,WHO Region
5408,Saint Vincent and the Grenadines,2020-02-11,0,Americas
20915,Canada,2020-04-11,1567,Americas
43477,Malaysia,2020-07-06,8668,Western Pacific
24383,France,2020-04-24,412,Europe
15143,Antigua and Barbuda,2020-03-20,1,Americas
7571,Algeria,2020-02-20,0,Africa
18782,Malawi,2020-04-02,3,Africa
21568,Netherlands,2020-04-13,50,Europe
25981,Kuwait,2020-04-30,4024,Eastern Mediterranean
23243,Australia,2020-04-20,1329,Western Pacific
17053,Cyprus,2020-03-27,162,Europe
43924,China,2020-07-08,199,Western Pacific
6274,Australia,2020-02-15,0,Western Pacific
5228,Australia,2020-02-11,0,Western Pacific
35576,China,2020-06-06,1268,Western Pacific
24369,Egypt,2020-04-24,4092,Eastern Mediterranean
37601,Azerbaijan,2020-06-14,9957,Europe
12831,Canada,2020-03-11,0,Americas
44765,Israel,2020-07-11,37464,Europe
29151,Philippines,2020-05-12,11350,Western Pacific
9513,Georgia,2020-02-27,1,Europe
4548,France,2020-02-08,0,Europe
39632,United Kingdom,2020-06-21,277792,Europe
8503,Malaysia,2020-02-23,22,Western Pacific
6756,Mozambique,2020-02-16,0,Africa
4909,Turkey,2020-02-09,0,Europe
22303,Germany,2020-04-16,137698,Europe
12382,Gabon,2020-03-09,0,Africa
45666,United Kingdom,2020-07-14,13,Europe
33358,Turkey,2020-05-28,160979,Europe

In [73]:
#sum for WHO Region confirmed cases
    #count WHO Regionn
    #sum for each Region
    #MAX&MIN, MEAN
    

covid_case_df = pd.read_csv( '../Resources/covid_19_clean_complete.csv')
Confirmed = covid_case_df['Confirmed']

mean_numpy = np.mean(Confirmed)
print(f"The mean {mean_numpy}")

median_numpy = np.median(Confirmed)
print(f"The median {median_numpy}")

mode_numpy = sts.mode(Confirmed)
print(f"The mode {mode_numpy}")

sum_numpy = np.sum(Confirmed)
print(f"The sum {sum_numpy}")


string.count('WHO Region')

The mean 16884.90425531915
The median 168.0
The mode ModeResult(mode=array([0], dtype=int64), count=array([10059]))
The sum 828508482

NameError: name 'string' is not defined

In [70]:
 #Date format
d = datetime.datetime.strptime('2020-04-16', '%Y-%m-%d')
d.strftime('%m-%d-%Y')

'04-16-2020'

In [59]:

  covid_case_df.sample(30)

                   Country        Date  Confirmed             WHO Region
22198            Australia  2020-04-16        169        Western Pacific
24181            Nicaragua  2020-04-23         11               Americas
18710                 Peru  2020-04-02       1414               Americas
10487                Chile  2020-03-02          9               Americas
39611            Sri Lanka  2020-06-21       1950        South-East Asia
18695          Netherlands  2020-04-02         60                 Europe
37067  Antigua and Barbuda  2020-06-12         26               Americas
22386                Sudan  2020-04-16         32  Eastern Mediterranean
23466   West Bank and Gaza  2020-04-20        329  Eastern Mediterranean
29280                China  2020-05-13        991        Western Pacific
38887           Tajikistan  2020-06-18       5279                 Europe
26934                China  2020-05-04        356        Western Pacific
34732              Bahrain  2020-06-03      12815  Eastern Mediterranean
33967               Canada  2020-05-31        295               Americas
3173                Canada  2020-02-03          3               Americas
42462          Philippines  2020-07-02      38805        Western Pacific
32986              Estonia  2020-05-27       1840                 Europe
36769             Dominica  2020-06-10         18               Americas
12499                Syria  2020-03-09          0  Eastern Mediterranean
36370            Greenland  2020-06-09         13                 Europe
9044                 Niger  2020-02-25          0                 Africa
46739           Bangladesh  2020-07-19     204525        South-East Asia
48117             Djibouti  2020-07-24       5039  Eastern Mediterranean
31789                 Togo  2020-05-22        363                 Africa
6005               Algeria  2020-02-14          0                 Africa
42466              Romania  2020-07-02      27746                 Europe
41694             Slovakia  2020-06-29       1665                 Europe
38769          South Korea  2020-06-18      12306        Western Pacific
27512               France  2020-05-06        152                 Europe
28972              Albania  2020-05-12        876                 Europe

In [52]:
rds_connection_string = "ese12880:Logan5811@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')